body {
    background-color: #F3F1F1;
    font-family: "trebuchet MS", helvetica, verdana, sans-serif;
    color: #413124;
}

a, a:visited, a:hover {
    color: #9f3b3f;
}

.logo, .title, .logoword {
    float: left;
}

.logoword {
    margin-left: 3px;
    margin-top: 30px;
}

.title {
    font-size: 26px ;
    margin-top: 10px;
    margin-left: 100px;
}

.phone {
    position: absolute;
    margin-left: 550px;
    margin-top: -30px;
    font-size: 20px;
    color: #9f3b3f;
}

.container {
    width: 920px;
    margin: 10px auto;
    box-shadow: 0 2px 8px -1px #000;
    padding: 20px;
    min-height: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 50px;
}

.sidebar {
    float: left;
    width: 220px;
}

.content {
    margin-left: 220px;
}

.subheader-right {
    float: left;
    margin-left: 10px;
}

.menu {
    margin-top: 30px;
}

.menu a {
    padding: 10px;
    background-color: #56a5d1;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 2px 8px -1px #000;
    font-size: 16px;
    color: #ffffff;
}

.menu a:visited {
    color: #ffffff;
}

.menu a:hover {
    text-decoration: none;
    padding-bottom: 15px;
    padding-top: 15px;
}

.search {
    margin-top: 50px;
}

.bag {
    float: right;
    margin-right: 40px;
}

.clear {
    clear: both;
}

ul.contacts {
    margin: 40px 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
}

ul.contacts li {
    padding: 5px;
}

ul.contacts i {
    padding: 0 8px;
    margin-right: 10px;
    background-image: url('/img/icons.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
}

ul.contacts a, ul.contacts a:visited, ul.contacts a:hover {
    text-decoration: none;
}

.c-phone {
    background-position: -17px 0px;
}

.c-mail {
    background-position: -85px 0px;
}

.c-icq {
    background-position: -102px 0px;
}

.c-skype {
    background-position: -119px 0px;
}
