body {
    background-color: #F3F1F1;
}

.logo, .title {
    float: left;
}

.title {
    font: normal 33px "trebuchet MS", helvetica, verdana, sans-serif;
    margin-top: 30px;
}

.container {
    min-width: 800px;
    max-width: 920px;
    margin: 0 auto;
}

.sidebar {
    float: left;
    width: 220px;
}

.catalog {
    margin-left: 220px;
}

.subheader-right {
    float: left;
    margin-left: 10px;
}

.menu {
    margin-top: 30px;
}

.menu a {
    margin: 10px;
    font: normal 16px "trebuchet MS", helvetica, verdana, sans-serif;
    color: #413124;
}

.menu a:visited {
    color: #413124;
}

.menu a:hover {
    text-decoration: none;
}

.search {
    margin-top: 50px;
}

.bag {
    float: right;
    margin-right: 40px;
}

.clear {
    clear: both;
}
