<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="container">

    <div class="logo"><a href="/"><img src="/img/logo.png" alt="Согрейся!"></a></div>
    <div class="title">Согрейся! – теплые аксессуары для владельцев смартфонов</div>
    <div class="clear"></div>
    <div class="store-phone">+7 (926) 125-09-55</div

    <div class="subheader-right">
        <div class="menu">
            <a href="/">Главная</a>
            <a href="/news/">Новости и акции</a>
            <a href="/payments/">Оплата и доставка</a>
            <a href="/contacts/">Контакты</a>
            <a href="/info/">Полезная информация</a>
        </div>
        
        <div class="search">
        <script type="text/javascript" src="http://app.ecwid.com/script.js?1806206" charset="utf-8"></script>
        <script type="text/javascript"> xSearchPanel("style="); </script>
        </div>
    </div>
    
    <div class="bag">
        <script type="text/javascript" src="http://app.ecwid.com/script.js?1806206" charset="utf-8"></script>
        <!-- remove layout parameter if you want to position minicart yourself -->
        <script type="text/javascript"> xMinicart("style="); </script>
    </div>
    
    <div class="clear"></div>

    <div class="sidebar">
        <div class="categories">
        <script type="text/javascript" src="http://app.ecwid.com/script.js?1806206" charset="utf-8"></script>
        <script type="text/javascript"> xVCategories("style="); </script>
        </div>
    </div>

    <div class="content">
    {{ content }}
    </div>

    <div class="clear"></div>

</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter19632937 = new Ya.Metrika({id:19632937,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/19632937" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
